include header 

.subscriptions
    .current-user 
        .user= name
        a(class="logout-btn" href="/logout") LOG OUT 
    .subscriptions-modal 
        .subscriptions-modal-header 
            h1 SUBSCRIPTIONS
            a(class="subscription-add-btn" href="/subscriptions/add") ADD
        if subscriptions.length != 0
            table 
                tr 
                    th NAME 
                    th DATE 
                    th FREQUENCY
                    th AMOUNT 
                each subscription in subscriptions
                    tr(class=`subscription-row`) 
                        form(action=`/subscriptions/delete`, method="post")
                            td(style="display:none")
                                input(type="text", name="name", value=`${subscription.name}` id="subscription-name")
                            td 
                                span= subscription.name
                            td 
                                span= subscription.paymentDate
                            td 
                                span= subscription.paymentFrequency  
                            td 
                                span= subscription.amount 
                            td
                                .form-btn(class="delete-btn") DELETE
                            td
                                .form-btn(class="edit-btn") EDIT
   
        else 
            h2 NO ACTIVE SUBSCRIPTION

.popup-modal-bg 
    .popup-modal 
        span.popup-close X 
        div TEST 
        button.popup-btn TEST


