include header 

.subscriptions
    .current-user 
        .user= name
        a(class="logout-btn" href="/logout") LOG OUT 
    .subscriptions-modal 
        .subscriptions-modal-header 
            h1 SUBSCRIPTIONS
            a(class="subscription-add-btn" href="/subscriptions/add") ADD
        if subscriptions.length != 0
            table 
                tr 
                    th NAME 
                    th PAYMENT DATE 
                    th AMOUNT 
                each subscription, index in subscriptions 
                    tr(class=`subscription-row`) 
                        th(id=`name-${index}`)= subscription.name 
                        th(class=`date-${index}`)= subscription.paymentDate
                        th(class=`frequency-${index}`)= subscription.paymentFrequency  
                        th(class=`amount-${index}`)= subscription.amount
                        th 
                            a(class=`subscription-delete-btn subscription-delete-btn-${index}` href=`/subscriptions/delete/${index}`) DELETE   
   
        else 
            h2 NO ACTIVE SUBSCRIPTION