include header 

.subscriptions
    .current-user 
        .user= name
        a(class="logout-btn" href="/logout") LOG OUT 
    .subscriptions-modal 
        .subscriptions-modal-header 
            h1 SUBSCRIPTIONS
            .form-btn(class="add-btn") ADD
        if subscriptions.length != 0
            table 
                tr 
                    th NAME 
                    th DATE 
                    th FREQUENCY
                    th AMOUNT 
                each subscription in subscriptions
                    tr(class=`subscription-row`) 
                        form(id="subscription-form" action=`/subscriptions/delete`, method="post")
                            td(style="display:none")
                                input(type="text", name="name", value=`${subscription.name}` id="subscription-name")
                            td 
                                span.table-subscription-name= subscription.name
                            td 
                                span.table-subscription-payment-date= subscription.paymentDate
                            td 
                                span.table-subscription-payment-frequency= subscription.paymentFrequency  
                            td 
                                span.table-subscription-amount= subscription.amount 
                            td
                                .form-btn(class="edit-btn") EDIT    
                            td
                                .form-btn(class="delete-btn") DELETE
                            
   
        else 
            h2 NO ACTIVE SUBSCRIPTION

.popup-modal-add-bg 
    .popup-modal-add      
        h1 ADD SUBSCRIPTION
            form(action="/subscriptions/add" method="post" class="form-elements-container")
                .subscription-name(class="form-elements") 
                    label(id="label-subscription-name") Subscription name
                    input(type="text", name="name", id="subscription-name", required)
                .payment-date(class="form-elements")
                    label(id="label-payment-date") Payment Date
                    input(type="text", name="date", id="payment-date", required)
                .payment-frequency(class="form-elements")
                    label(id="label-payment-frequency") Payment Frequency
                    select(name="frequency", id="payment-frequency", required)
                        option(value="weekly") Weekly
                        option(value="monthly") Monthly
                        option(value="bi-annually") Bi-Annually
                        option(value="annually") Annually        
                .amount(class="form-elements")
                    label(id="label-amount") Amount
                    input(type="text", name="amount", id="amount", required)
                button(type="submit") ADD
        span.popup-close(class="popup-add-close") Close

.popup-modal-edit-bg 
    .popup-modal-edit       
        h1 EDIT SUBSCRIPTION
            form(action="/subscriptions/edit" method="post" class="form-elements-container")
                .subscription-name(class="form-elements") 
                    label(id="label-subscription-name") Subscription name
                    input(type="text", name="name", id="subscription-name", required)
                .payment-date(class="form-elements")
                    label(id="label-payment-date") Payment Date
                    input(type="text", name="date", id="payment-date", required)
                .payment-frequency(class="form-elements")
                    label(id="label-payment-frequency") Payment Frequency
                    select(name="frequency", id="payment-frequency", required)
                        option(value="weekly") Weekly
                        option(value="monthly") Monthly
                        option(value="bi-annually") Bi-Annually
                        option(value="annually") Annually        
                .amount(class="form-elements")
                    label(id="label-amount") Amount
                    input(type="text", name="amount", id="amount", required)
                button(type="submit") EDIT
        span.popup-close(class="popup-edit-close") Close

.popup-modal-delete-bg 
    .popup-modal-delete      
        div Are you sure?
        button.popup-btn(form="subscription-form") DELETE
        span.popup-close(class="popup-delete-close") Close


